.idea/workspace.xml
.idea/encodings.xml
.idea/graphing_calculator.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
__pycache__/ParserTree.cpython-35.pyc
graphing_calculator/.idea/workspace.xml
__pycache__/Expression.cpython-35.pyc
*.pyc
.idea/dictionaries/Pascal.xml
